# Working directory
temp.dir=./temp/
video.dir=./video/

# Download video
video.download=yes

# Time interval at which frames need to be sampled
frame.interval=1

# Comparison algorithm to apply. Options psnr, ssim & mean-psnr & multi-psnr
compare.algo=multi-psnr

# Margin of error
threshold.psnr=22

threshold.ssim=0.7

threshold.psnr.theta0=0.96945
threshold.psnr.theta1=1.36557

p00=18.04
p10=-1.388
p01=1.851
p20=0.08936
p11=-0.1753
p02=0.07142
